/* Landing Page Styles */

.heroBanner {
  padding: 8rem 0 6rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: radial-gradient(circle at center, #1e293b 0%, #0b0e14 100%);
}

/* Mobile Responsiveness */
@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 4rem 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}
