# --------------------
# PYTHON ARTIFACTS
# --------------------
__pycache__/
*.pyc
*.pyd
venv/
.venv/
.mypy_cache/

# --------------------
# Docusaurus / Node ARTIFACTS
# --------------------
node_modules/
.docusaurus/
.DS_Store
yarn-error.log

# --------------------
# WEBSITE BUILD OUTPUT
# --------------------
# Crucially, the built static files must not be tracked.
website/build/
.vscode/
